
@{
    ViewBag.Title = "Demo App";
    ViewBag.Home = "active";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="carousel">
    <div class="text-center mt-lg-5"><h2>Welcome to demo app</h2></div>
</div>

